<!DOCTYPE html>
<meta charset="utf-8" />
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sobert web interface</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <style>
      html, body {
        height: 100%;
      }
      body {
        margin-top: 0;
        margin-bottom: 0;
      }
      body {
        background-color: rgb(64,64,64);
        color: white;
        font-family: Sans-Serif;
      }
      a {
        color: rgb(97, 177, 146);
      }
      .connmsg {
        font-weight: bold;
        color: grey;
      }
      .joinmsg {
        font-style: italic;
        color: grey;
      }
      .memsg {
        font-style: italic;
      }
      .sentmsg {
        color: yellow;
      }
      .botmsg {
        color: lightblue;
      }
      .username {
        color: rgb(97, 177, 146);
      }
      .sending {
        color: grey;
        margin-left: 0.5em;
      }
      .status {
        margin-left: 0.5em;
      }
    </style>
    <script language="javascript" type="text/javascript">
     $(function() {
       var conn = null;
       var name = "UNKNOWN";
       var msgid = 0;
       var sendings = {}
       var online_users;
       
       function log(msg, cls, username, msgid) {
         var control = $('#log');
         var date = new Date();
         var date_prompt = '[' + date.toISOString().split('T')[1].slice(0,8) + '] ';
         var isme = false;
         if (msg.startsWith('/me')) {
           isme = true
           msg = msg.slice(3)
         }
         
         var logline = $('<div/>')
         
         var dat = $('<span/>')
         dat.text(date_prompt)
         logline.append(dat)
         
         var usertag
         if (username) {
           usertag = $('<span/>')
           usertag.text(username)
           usertag.addClass('username')
           usertag.addClass(cls)
           if (cls != 'connmsg') {
             if (!isme)
               usertag.text(usertag.text() + ': ')
             else 
               usertag.addClass('memsg')
             logline.append(usertag)
           }
         }
         
         var txt = $('<span/>')
         txt.text(msg)
         txt.addClass(cls)
         if (isme)
           txt.addClass('memsg')
         logline.append(txt)
         
         if (username && cls == 'connmsg')
           logline.append(usertag)
         
         if (typeof msgid === "number") {
           var sending = $('<span/>');
           sending.addClass('sending');
           sending.text('(sending)');
           logline.append(sending);
           sendings[msgid] = sending;
         }
         
         control.append(logline)
         control.scrollTop(control.scrollTop() + 1000);
       }
       function connect() {
         disconnect();
         var wsUri = (window.location.protocol=='https:'&&'wss://'||'ws://')+window.location.host;
         conn = new WebSocket(wsUri);
         //log('Connecting...');
         conn.onopen = function() {
           //log('Connected.');
           update_ui();
         };
         conn.onmessage = function(e) {
           var data = JSON.parse(e.data);
           switch (data.action) {
             case  'connect':
               name = data.name;
               log('Connected as ', 'connmsg', name);
               online_users = data.num_users;
               update_ui();
               break;
             case  'disconnect':
               log(data.is_timeout ? 'timed out' : 'left the chat', 'joinmsg', data.name);
               online_users = data.num_users;
               update_ui();
               break;
             case 'join':
               log('joined the chat', 'joinmsg', data.name);
               online_users = data.num_users;
               update_ui();
               break;
             case 'sent':
               log(data.text, data.is_bot ? 'botmsg' : 'recvmsg', data.name);
               break;
             case 'send_confirm':
               elm = sendings[data.id];
               //elm.parentNode.removeChild(elm);
               elm.remove();
           }
         };
         conn.onclose = function() {
           log('Disconnected.', 'connmsg', null);
           conn = null;
           update_ui();
         };
       }
       function disconnect() {
         if (conn != null) {
           //log('Disconnecting...');
           conn.close();
           conn = null;
           name = 'UNKNOWN';
           update_ui();
         }
       }
       function update_ui() {
         if (conn == null) {
           $('#status').text('disconnected');
           $('#connect').html('Connect');
           $('#send').prop("disabled", true);
           $('#online_users').text('-');
         } else {
           $('#status').text('connected (' + conn.protocol + ')');
           $('#connect').html('Disconnect');
           $('#send').prop("disabled", false);
           $('#online_users').text(online_users);
         }
         $('#name').text(name);
       }
       function send_ping() {
         if (conn != null) {
           conn.send(JSON.stringify({'action': 'ping'}));
         }
         setTimeout(send_ping, 30000);
       }
       send_ping()
       $('#connect').on('click', function() {
         if (conn == null) {
           connect();
         } else {
           disconnect();
         }
         update_ui();
         return false;
       });
       $('#send').on('click', function() {
         var text = $('#text').val();
         // log('Sending: ' + text);
         log(text, 'sentmsg', name, msgid);
         conn.send(JSON.stringify({'action': 'send', text, msgid}));
         msgid++;
         $('#text').val('').focus();
         return false;
       });
       $('#text').on('keyup', function(e) {
         if (e.keyCode === 13 && conn != null) {
           $('#send').click();
           return false;
         }
       });
     });
    </script>
  </head>
  <body style="display:flex; flex-direction:column;">
    <h3>Talk to Sobert!</h3>
    <div>
      <button id="connect">Connect</button>
      <span class="status">Name: <span id="name" class="username">-</span></span>
      <span class="status">Status: <span id="status">disconnected</span></span>
      <span class="status">Online users: <span id="online_users">-</span></span>
      <div style="float: right">
        Talk to me on:
        <a href="https://t.me/SobertBot">Telegram</a>
        <a href="https://discordapp.com/oauth2/authorize?client_id=477996444775743488&scope=bot">Discord</a>
        <a href="https://my.secondlife.com/SobertStarsting">Second Life</a>
        Source:
        <a href="https://github.com/antihutka/">Github</a>
      </div>
    </div>
    <div id="log" style="flex: 1 0 10em; overflow: auto; border:1px solid black"">
    </div>
    <form style="margin-bottom: 5px" id="chatform" onsubmit="return false;">
        <input style="float: right" id="send" type="button" value="Send" disabled/>
        <div style="overflow: hidden; padding-right: .5em;">
          <input style="width: 100%" id="text" type="text" />
        </div>
    </form>
  </body>
</html>
